.gradient-custom-3 {
    /* fallback for old browsers */
    background: #a0c7f2;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #a7cbf1, #a1c9f5);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #a7cff9, #a7ccf3)
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #243f5c;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #4c6c8f, rgb(161, 219, 247));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(202, 239, 216), rgba(143, 211, 244, 1))
    }